.trafficlight{
    width: 150px;
    height: 420px;
    background-color: gray;
    margin: auto;
    padding: 10px 0;
}
.round{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border:  2px solid white;
    margin: 10px auto;
    opacity: 0.5;
    font-size: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.line {
    width: 40px;
    height: 300px;
    background-color: gray;
    margin: auto;
}

.yellow, .green, .red{
 background-color: yellow;
 display: flex;
 justify-content: center;
 align-items: center;
}

.red{
    background-color: red;
}

.green {
    background-color: green;
}

.opacity{
    opacity: 1;
}

.transparrent{
    color: transparent;
}